.gallery{
    padding: 0 215px;
    text-align: center;
    &__content{
        margin: 70px 0 30px 0;
        display: flex;
        flex-wrap: wrap;
        height: 770px;
        justify-content: space-between;
        align-content: space-between;
        &__img{
            border-radius: 4px;
            width: 370px;
            height: 370px;
        }
        &__button{

        }
    }
}
@media screen and (max-width:1366px){
    .gallery{
        padding: 0 100px;
        &__content{
            height: 760px;
        }
    }
}

@media screen and (max-width:1200px){
    .gallery{
        padding: 0 80px;
        text-align: center;
        &__content{
            margin: 70px 0 30px 0;
            display: flex;
            flex-wrap: wrap;
            height: 680px;
            justify-content: space-between;
            align-content: space-between;
            &__img{
                border-radius: 4px;
                width: 320px;
                height: 320px;
            }
        }
    }
}

@media screen and (max-width:1134px){
    .gallery{
        &__content{
            height: 575px;
            &__img{
                width: 285px;
                height: 285px;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .gallery{
        padding: 0 75px;
        text-align: center;
        &__content{
            margin: 70px 0 30px 0;
            display: flex;
            flex-wrap: wrap;
            height: 580px;
            justify-content: space-between;
            align-content: space-between;
            &__img{
                border-radius: 4px;
                width: 280px;
                height: 280px;
            }
            &__button{
    
            }
        }
    }
}

@media screen and (max-width:767px){
    .gallery{
        padding: 0 15px;
        text-align: center;
        &__content{
            margin: 70px 0 30px 0;
            display: flex;
            flex-wrap: wrap;
            height: 718px;
            overflow: hidden;
            justify-content: space-between;
            align-content: space-between;
            &__img{
                border-radius: 4px;
                width: 354px;
                height: 354px;
                margin-bottom: 25px;
            }
            &__button{
                
            }
        }
    }
}
@media screen and (max-width:360px){
    .gallery{
        padding: 0 15px;
        text-align: center;
        &__content{
            margin: 70px 0 30px 0;
            display: flex;
            flex-wrap: wrap;
            height: 718px;
            overflow: hidden;
            justify-content: space-between;
            align-content: space-between;
            &__img{
                border-radius: 4px;
                width: 330px;
                height: 330px;
                margin-bottom: 30px;
            }
            &__button{
                
            }
        }
    }
}