.background{
    z-index: -1;
    .background-left {
        position: absolute;
        top: 246%;
        left: 0;
        z-index: -1;
        height: 1781px;
        width: 415px;
        // height: 100%;
        // width: 100%;
    }
    .background-right {
        position: absolute;
        top: 130%;
        right: 0;
        z-index: -1;
        height: 1666px;
        width: 503px;
        // height: 100%;
        // width: 100%;
    }
}
@media screen and (max-width:1366px){
    .background{
        .background-left {
            // width: 85%;
            // height: 85%;
            // height: 1500px;
            top: 240%;
            height: 1500px;
            width: 340px;
        }
        .background-right {
            // width: 85%;
            // height: 85%;
            // height: 1566px;
            top:130%;
            height: 1500px;
            width: 400px;
        }
    }   
}

@media screen and (max-width:1024px){
    .background{
        .background-left {
            top: 170%;
            left: 0;    
            height: 1700px;
            width: 300px;
        }
        .background-right {
            top: 80%;
            right: 0;    
            height: 1800px;
            width: 300px;
        }
    }   
}

@media screen and (max-width:767px){
    .background{
        .background-left {
            top: 440%;
            left: 0;    
            height: 1903px;
            width: 250px;
        }
        .background-right {
            top: 340%;
            right: 0;    
            height: 1655px;
            width: 250px;
        }
    }   
}
@media screen and (max-width:640px){
    .background{
        .background-left {
            visibility: hidden;
            top: 190%;
            left: 0;    
            height: 1500px;
            width: 360px;
        }
        .background-right {
            visibility: hidden;
            top: 286%;
            left: 0;    
            height: 1255px;
            width: 360px;
        }
    }   
}

@media screen and (max-width:540px){
    .background{
        .background-left {
            visibility: hidden;
            top: 190%;
            left: 0;    
            height: 1500px;
            width: 360px;
        }
        .background-right {
            visibility: hidden;
            top: 286%;
            left: 0;    
            height: 1255px;
            width: 360px;
        }
    }   
}

@media screen and (max-width:411px){
    .background{
        .background-left {
            visibility: hidden;
            top: 190%;
            left: 0;    
            height: 1500px;
            width: 360px;
        }
        .background-right {
            visibility: hidden;
            top: 286%;
            left: 0;    
            height: 1255px;
            width: 360px;
        }
    }   
}

@media screen and (max-width:360px){
    .background{
        .background-left {
            top: 100%;
            left: 0;    
        }
        .background-right {
            top: 106%;
            left: 0;    
        }
    }   
}